each video in videos         
    article.video(id='#{video._id}')
        div.article_inner
            div.row.article_header
                div.fiboA.title
                    a(href='/video/#{video._id}' rel="ajax")
                        h2 #{video.title}
                div.fiboB
                    div.span3
                        h3.year #{video.year.getFullYear()}
                    div.span3
                        h3.rating #{video.rating}
                    div.span3
                        div.share
                            i.fa.fa-share
                        
          
            div.article_content
                

            div.article_footer
            div.sepBlue