doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
        title= title
    
    block css
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')

    block metaog
        meta(og:title='#{title}')
        meta(og:site_name='#{title}')
        meta(og:description='#{description}')
        meta(og:url='#{url}')
        meta(og:image='#{url}img/tsbst-logo.jpg')
        meta(fb:app_id='')
        meta(og:type='article')
    
    block js
        if ENV_DEVELOPMENT
            script(src='http://localhost:35729/livereload.js')

    body(class='#{bodyclass}')
        div#wrapper
            header.anime
                include header
            
            block content

            footer.anime
                include footer

            div#ph

            div#loader
            
        script(src='/js/jquery.min.js')
        script(src='/js/navigate.js')
        script(src='/js/plugins.js')
        script(src='/js/GoogleSearch.js')
        script(src='/js/TubeTapePlayer.js')
        script(src='/js/YoutubePlayer.js')
        script(src='/js/AjaxUtils.js')
        script(src='/js/NavigateController.js')
        script(src='/js/app.js')
    


