each video in videos         
    article.video(id='#{video._id}')
        div.article_inner
            div.row.article_header
                div.fiboA.title
                    a(href='/video/#{video._id}', class='ajax_g')
                        h2 #{video.title}
                div.fiboB
                    div.span3
                        h3.year #{video.year.getFullYear()}
                    div.span3
                        if video.view
                            h3.view #{video.view} 
                                i.fa.fa-eye
                        else
                            h3.view #{video.view} 
                                i.fa.fa-eye-slash
                    div.span3
                        div.share
                            span Share  
                            i.fa.fa-share
                        
          
            div.article_content
                div.ost_header.row
                    div.fiboA.player_ost
                        
                    div.fiboB
                        div.span3 PART
                        div.span3 ARTIST
                        div.span3 TRACK
                div.ost

            div.article_footer.row
                div.fiboA
                div.fiboB
                 
                    div.span3
                        if video.videoIframe != undefined
                            a(href="#{video.videoIframe}" target="_blank" rel="iframe")
                                    span Video 
                                    i.fa.fa-youtube 
                    div.span3
                        a(href="#{video.url}" target="_blank")
                            span skately.com 
                            i.fa.fa-link 

                    div.span3
                        div.share
                            span Share  
                            i.fa.fa-share
                        
            div.sepBlue