each video in videos         
    article.video(id='#{video._id}')
        div.article_inner
            div.row.article_header
                div.fiboA.title
                    a(href='/video/#{video._id}', class='ajax_g')
                        h2 #{video.title}
                div.fiboB
                    div.span3
                        h3.year #{video.year.getFullYear()}
                    div.span3
                        h3.rating #{video.rating}
                    div.span3
                        div.share
                            i.fa.fa-share
                        
          
            div.article_content
                div.ost_header.row
                    div.fiboA.player_ost
                        div.controls
                            span.play
                                i.fa.fa-play
                            span.pause
                                i.fa.fa-pause
                    div.fiboB
                        div.span3 Part
                        div.span3 Artist
                        div.span3 Track
                div.ost

            div.article_footer
                div.align_right
                    a(href="http://www.skatevideosite.com#{video.url}" target="_blank") Source 
            div.sepBlue