div(id='#{ost._id}' class='row ttp' data-videoid='#{ost.videoId}')
    div.fiboA.player_track
        div.controls
            span.play
                i.fa.fa-play
            span.pause
                i.fa.fa-pause
            span.playing
                div.equalizer
                    span
                    span
                    span
    div.fiboB
        div.span3.track_rider #{ost.rider}
        div.span3.track_artist #{ost.artist}
        div.span3.track_title #{ost.track}