div(id='#{track._id}' class='row ttp' data-videoid='#{track.videoId}')
    div.fiboA.player_track
        div.controls
            span.play
                i.fa.fa-play
            span.pause
                i.fa.fa-pause
            span.playing
                div.equalizer
                    span
                    span
                    span
    div.fiboB
        div.span3.track_rider #{track.rider}
        div.span3.track_artist #{track.artist} 
        div.span3.track_title #{track.track}