extends layout
block title
    title= '▶ '+title+' - '+video.title

block metaog
    meta(property='og:title' content='▶ #{title} - #{video.title}')
    meta(property='og:site_name' content='#{title}')
    meta(property='og:description' content='#{description}')
    meta(property='og:url' content='#{url}')
    meta(property='og:image' content='http://theskateboardsoundtracks.com/img/tsbst-logo-fb.jpg')
    meta(property='og:type' content='article')

prepend content
    
    section
        article(id='#{video._id}').video.open 
            div.article_inner
                div.row.article_header
                    div.fiboA.title
                        a(href='/api/g/#{video._id}', class='ajax_g')
                            h2 #{video.title}
                    div.fiboB
                        div.span3
                            h3.year #{video.year.getFullYear()}
                        div.span3
                            h3.rating #{video.rating} 
                                if video.rating == 0
                                    i.fa.fa-heart-o
                                else
                                    i.fa.fa-heart
                        div.span3
                            div.share  
                                i.fa.fa-share
              
                div.article_content
                    
                    if video.ost    
                        include track
                    else
                        include no-soundtrack
             
                div.article_footer.row
                    div.fiboA
                    div.fiboB
                        div.span3 
                            
                        div.span3
                            if video.videoIframe != undefined
                                a(href="#{video.videoIframe}" target="_blank" rel="iframe")
                                    span Video 
                                    i.fa.fa-youtube  
                        div.span3
                            a(href="http://www.skatevideosite.com#{video.url}" target="_blank") 
                                span Source 
                                i.fa.fa-link 
                        

