extends layout
block title
    title= '▶ '+video.title+' - '+title

block metaog
    meta(property='og:title' content='▶ #{video.title} - #{title}')
    meta(property='og:site_name' content='#{title}')
    meta(property='og:description' content='#{description}')
    meta(property='og:url' content='#{canonical}/video/#{video._id}')
    meta(property='og:image' content='#{canonical}/img/tsbst-logo-fb.jpg')
    meta(property='og:type' content='article')

prepend content
    
    section
        article(id='#{video._id}').video.open 
            div.article_inner
                div.row.article_header
                    div.fiboA.title
                        a(href='/api/g/#{video._id}', class='ajax_g')
                            h2 #{video.title}
                    div.fiboB
                        div.span3
                            h3.year #{video.year.getFullYear()}
                        div.span3
                            if video.view
                                h3.view #{video.view} 
                                    i.fa.fa-eye
                            else
                                h3.view #{video.view} 
                                    i.fa.fa-eye-slash
                        div.span3
                            div.share
                                span Share  
                                i.fa.fa-share
                div.article_content
                    if video.ost    
                        include ost
                    else
                        include no-soundtrack
                

                div.article_footer.row
                    div.fiboA
                    div.fiboB
                            
                        div.span3
                            if video.videoIframe != undefined
                                a(href="#{video.videoIframe}" target="_blank" rel="iframe")
                                    span Video 
                                    i.fa.fa-youtube  
                        div.span3
                            a(href="#{video.url}" target="_blank")
                                span skately.com 
                                i.fa.fa-link 

                        div.span3
                            div.share
                                span Share  
                                i.fa.fa-share