extends layout
block title
    title= '▶ '+title+' - '+video.title

block metaog
    meta(property='og:title' content='▶ #{title} - #{video.title}')
    meta(property='og:site_name' content='#{title}')
    meta(property='og:description' content='#{description}')
    meta(property='og:url' content='#{url}')
    meta(property='og:image' content='http://theskateboardsoundtracks.com/img/tsbst-logo-fb.jpg')
    meta(property='og:type' content='article')

prepend content
    
    section
        article(id='#{video._id}').video.open 
            div.article_inner
                div.row.article_header
                    div.fiboA.title
                        a(href='/api/g/#{video._id}', class='ajax_g')
                            h2 #{video.title}
                    div.fiboB
                        div.span3
                            h3.year #{video.year.getFullYear()}
                        div.span3
                            h3.view #{video.view} 
                                i.fa.fa-eye
 
                        div.span3
                            div.share Share  
                                i.fa.fa-share
                div.article_content
                    if video.ost    
                        include ost
                    else
                        include no-soundtrack
                div.article_disqus
                    div.fiboA
                    div.fiboB
                        div#disqus_thread
                        script.
                            var disqus_config = function () { this.page.url = '#{url}'; this.page.identifier = '#{video._id}'; }; (function() { var d = document, s = d.createElement('script'); s.src = '//theskateboardsoundtracks.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
                            var disqusReset = function (newIdentifier, newUrl, newTitle, newLanguage) { DISQUS.reset({ reload: true, config: function () { this.page.identifier = newIdentifier; this.page.url = newUrl; this.page.title = newTitle; } }); };

                div.article_footer.row
                    div.fiboA
                    div.fiboB
                            
                        div.span3
                            if video.videoIframe != undefined
                                a(href="#{video.videoIframe}" target="_blank" rel="iframe")
                                    span Video 
                                    i.fa.fa-youtube  
                        div.span3
                            a(href="http://www.skatevideosite.com#{video.url}" target="_blank") 
                                span Source 
                                i.fa.fa-link 

                        div.span3
                            div.share Share  
                                i.fa.fa-share

                
                        

