extends layout
block title
    title= title+' - '+video.title

block metaog
    meta(og:title='#{title} - #{video.title}')
    meta(og:site_name='#{title}')
    meta(og:description='#{description}')
    meta(og:url='#{url}')
    meta(og:image='#{url}/img/tsbst-logo.jpg')
    meta(fb:app_id='')
    meta(og:type='article')

prepend content
    
    section
        article(id='#{video._id}').video.open 
            div.article_inner
                div.row.article_header
                    div.fiboA.title
                        a(href='/api/g/#{video._id}', class='ajax_g')
                            h2 #{video.title}
                    div.fiboB
                        div.span3
                            h3.year #{video.year.getFullYear()}
                        div.span3
                            h3.rating #{video.rating} 
                                if video.rating == 0
                                    i.fa.fa-heart-o
                                else
                                    i.fa.fa-heart
                        div.span3
                            div.share  
                                i.fa.fa-share
              
                div.article_content
                    
                    if video.ost    
                        include track
                    else
                        include no-soundtrack
             
                div.article_footer.row
                    div.align_right
                        a(href="http://www.skatevideosite.com#{video.url}" target="_blank") Source 
                div.sepBlue